RUST_LOG=info
TELOXIDE_TOKEN=
TRASH_CHAT_ID=-5246927017
MAX_RESULTS=10
MIN_DURATION=1
MAX_DURATION=600
MIN_CACHE_SIZE_MB=512
MAX_CACHE_SIZE_MB=1024
INLINE_CACHE_TIME=300
# BLANK_PLACEHOLDER="[[ BLANK ]]"
# TELOXIDE_API_URL=
# TELOXIDE_PROXY=
# YT_DLP_PROXY=
# ADVERTISE_NAME=""
# ADVERTISE_URL=""
# ADVERTISE_CHANCE=10
# EXAMPLE_QUERY="inabakumori lagtrain"
